<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bevproject">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bev_logo_foreground"
        android:label="A Bird&apos;s Eye View"
        android:roundIcon="@mipmap/bev_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BEVProject">
        <activity android:name=".Opinion"></activity>
        <activity android:name=".Social" />
        <activity android:name=".Politics" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUp" />
        <activity android:name=".Login" />
        <activity android:name=".Home" />
        <activity android:name=".SubmitArticle" />
        <activity android:name=".ArticleItem" />
    </application>

</manifest>